
@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* 添加安全的默认字体 */
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dark {
  --background: 0, 0, 0;
  --foreground: 255, 255, 255;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  background: var(--background);
  font-family: var(--font-sans), serif;
}

.react-json-view {
  white-space: pre-wrap;
}