<current_mode>
Update Planning Mode
</current_mode>

<question>
{{question}}
</question>

<background_info>
{{background_info}}
</background_info>

<previous_plan>
{{previous_plan}}
</previous_plan>

<newly_completed_agent_tasks>
<task>
{{task}}
</task>
<result>
{{task_results}}
</result>
</newly_completed_agent_tasks>