/* Config the width of the main content area */
.md-grid {
  max-width: 85%;
}

/* Config the width of the code block */
.md-typeset pre {
  max-width: 100%;
}

/* Config the width & aspect ratio of the iframe */
iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
